<h1>Clientes</h1>
<div class="filter">
  <button mat-raised-button (click)="cadastrarCliente()"><mat-icon>add</mat-icon> Cadastrar</button>

  <mat-form-field>
    <mat-label>Filtrar...</mat-label>
    <input matInput (keyup)="aplicarFiltro($event)" placeholder="Digite o que deseja filtrar...">
  </mat-form-field>
  <p>Para visualizar os veículos dos proprietários clique em cima deles.</p>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="clientes" class="example-table" multiTemplateDataRows matSort matSortActive="nome" matSortDirection="asc">

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="column != 'acoes'; else acoes">
          {{row[column]}}
        </ng-container>
        <ng-template #acoes>
          <button mat-icon-button matTooltip="Editar" matTooltipPosition="left" (click)="editarCliente(row)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button matTooltip="Excluir" matTooltipPosition="below" (click)="excluirCliente(row.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
          <button mat-icon-button matTooltip="Cadastrar veículo" matTooltipPosition="right" (click)="cadastrarVeiculo(row)"><mat-icon>add</mat-icon></button>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <b><p>Veículos</p></b>
          <div class="teste">
            <div *ngFor="let veiculo of element.veiculos">
              <div class="example-element-diagram">
                <p>Placa: {{veiculo.placa}}</p>
                <p>Modelo: {{veiculo.modelo}}</p>
                <p>Cor: {{veiculo.cor}}</p>
                <button mat-icon-button matTooltip="Editar" matTooltipPosition="left" (click)="editarVeiculo(veiculo)" ><mat-icon>edit</mat-icon></button>
                <button mat-icon-button matTooltip="Excluir" matTooltipPosition="right" (click)="excluirVeiculo(veiculo.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
              </div>
            </div>
         </div>
        </div>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
      <td mat-cell *matCellDef="let row">{{row.telefone}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Editar" matTooltipPosition="left" (click)="editarCliente(row)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button matTooltip="Excluir" matTooltipPosition="right" (click)="excluirCliente(row.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 40]"></mat-paginator>
</div>
