:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 350px;
  padding: 20px;
}

mat-drawer-content {
  padding: 20px;
}

.bem-vindo {
  text-align: center;
}

.bem-vindo h2 {
  font-weight: bold;
}

a {
  margin: auto;
  width: 100%;
  font-size: 16px;
  padding: 20px;
}
