<h2 mat-dialog-title>{{data.buttonName}} estacionamento</h2>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Nome do estacionamento</mat-label>
      <input matInput placeholder="Digite o nome do estacionamento" type="text" required name="nome" [ngModel]="data.nome" #nome="ngModel">
        <mat-error *ngIf="nome.invalid">Nome do estacionamento é necessário</mat-error>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Endereço</mat-label>
      <input matInput placeholder="Digite o endereço do estacionamento" type="text" required name="endereco" [ngModel]="data.endereco" #endereco="ngModel">
        <mat-error *ngIf="endereco.invalid">Endereço é necessário</mat-error>
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input matInput [textMask]="{ mask: mask }" placeholder="Digite o telefone do estacionamento" type="text" required name="telefone" [ngModel]="data.telefone" #telefone="ngModel">
        <mat-error *ngIf="telefone.invalid">Telefone é necessário</mat-error>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor por hora</mat-label>
      <input matInput placeholder="Digite o valor por hora" type="number" pattern="^\d*(\.\d{0,2})?$" required name="valorPorHora" [ngModel]="data.valorPorHora" #valorPorHora="ngModel">
        <mat-error *ngIf="valorPorHora.invalid">Valor por hora é necessário, só é permitido 2 casas após a vírgula</mat-error>
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vagas</mat-label>
      <input matInput placeholder="Digite a quantidade de vagas" type="number" pattern="^\d*(\.\d{0})?$" required name="vagas" [ngModel]="data.vagas" #vagas="ngModel">
        <mat-error *ngIf="vagas.invalid">Vagas é necessário, apenas valores inteiros</mat-error>
      <mat-icon matSuffix>ballot</mat-icon>
    </mat-form-field>

    <input type="hidden" name="id" [ngModel]="data.id">
    <input type="hidden" name="vagasDisponiveis" [ngModel]="data.vagasDisponiveis">
    <input type="hidden" name="dono" [ngModel]="data.dono">
  </div>
  <div mat-dialog-actions>
    <a mat-button mat-dialog-close>Cancelar</a>
    <button mat-flat-button color="primary" type="submit" [disabled]="!f.valid" cdkFocusInitial>{{data.buttonName}}</button>
  </div>
</form>
