/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  font-weight: bold;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  font-weight: bold;
}

.secondary {
  background-color: #C5CAE9;
}
